/* give some sample styling for the js file*/

.adminNavBar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;        
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}