/*
use admin_ as a prefix for the custom class names
*/

.admin_footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f1f1f1;
    border-top: 1px solid #e0e0e0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .admin_footerLeft,
  .admin_footerRght {
    font-size: 0.9rem;
  }
  