@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.customFont {
    font-family: 'YourCustomFont', Arial, sans-serif;
    font-size: 25px; /* Adjust the font size as needed */
    color: #333; /* Adjust the color as needed */
}

.mainContainer{

}