/*
use admin_ as a prefix for the custom class names
*/

.admin_mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    margin-top: 40px !important;
}