/*
use admin_ as a prefix for the custom class names
*/

.admin_mainContainer{
    /* height: 100vh; */
    margin: 25px;
    margin-top: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin_subContainer{
    width: 500px;
}

.admin_cardDescription p{
    size: 25px;
}