@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* .customFont {
    font-family: 'YourCustomFont', Arial, sans-serif;
    font-size: 20px;
    color: #333;
    text-align: center;
}

.mainContainer{
    margin: 25px;
    margin-top: 40px !important;
}

.dataRow{
    font-size: 15px;
    cursor: pointer;
}

.imageStylings{
    width: 50px;
    height: 50px;
}

.actionStylings{
    flex-direction: column;
    cursor: auto;
}

.actionContainerDiv {
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }

  .userNameContainer{
    display: flex;
    align-items: center;
    gap: 10px;
  } */

  .truncatedText {
    display: inline-block; 
    max-width: 150px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }

  .deactivatedRow {
    background-color: #b3d9df; /* Light red background for deactivated rows */
  }


  
.admin_mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
  margin-top: 40px !important;
}

.admin_formContainer {
  border: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.formContent {
  max-width: 800px;
  width: 100%; 
  padding: 20px;
  background-color: white; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
}