.request-card {
    position: relative;
}

.request-status-label {
    position: absolute;
    top: -14px;
    right: -14px;
}

.request-image {
    height: 120px;
    object-fit: cover;
    display: flex;
}
