/* .mainContainer{ */
    /* display: flex;
    flex-direction: column; */
    /* height: 100vh; */
/* } */

.title{
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
}

body {
    margin: 0;
}

.mainContainer{
    display: flex;
    height: 100vh;
    z-index: 100;
    transition: margin-left 0.5s ease-in-out; 
    overflow: hidden;
}

.content {
padding: 20px;
overflow-y: auto;
width: calc(100% - 50px);
padding-left: 50px;
padding-right: 50px;
transition: width 0.5s;
}

.withSidebar .content {
    width: calc(100% - 280px);
}

.noSidebar .content {
    width: calc(100% - 50px);
}