/* .mainContainer{
    height: 100vh;
} */

body {
    margin: 0;
}

.mainContainer{
    display: flex;
    height: 100vh;
    z-index: 100;
    transition: margin-left 0.5s ease-in-out; 
    overflow-y: auto;
}

  .content {
    padding: 20px;
    overflow-y: hidden;
    width: calc(100% - 50px); /* Full width minus padding */
    padding-left: 50px;
    padding-right: 50px;
    transition: width 0.5s;
  }

  .withSidebar .content {
    width: calc(100% - 280px); /* Adjust width when sidebar is visible (230px sidebar + 50px padding) */
}

.noSidebar .content {
    width: calc(100% - 50px); /* Full width minus padding when sidebar is hidden */
}

.admin_mainContainer{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    margin-top: 40px !important;
}

.admin_subContainer{
    /* width: 500px; */
    display: flex;
    align-items: stretch; /* Align both the Image and Card to have equal height */
    gap: 20px; /* Optional: Add some spacing between the Image and the Card */
    width: 100%;
    max-width: 1000px; /* Adjust based on your layout preferences */
}

.admin_cardDescription p{
    size: 25px;
}

.admin_imageWrapper {
    flex: 1; /* Let the image take up available space proportionally */
  }
  
  .admin_cardWrapper {
    flex: 2; /* Let the card take up more space compared to the image */
  }
  
  .admin_cardDescription {
    text-align: left; /* Optional: Align the text in the card */
  }

  .admin_image {
    width: 400px;
    height: 400px;
  }