@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*
use admin_ as a prefix for the custom class names
*/

.admin_customFont {
    font-family: 'YourCustomFont', Arial, sans-serif;
    font-size: 20px; /* Adjust the font size as needed */
    color: #333; /* Adjust the color as needed */
    text-align: center;
}

.admin_mainContainer{
    margin: 300px;
    margin-top: 40px !important;
    max-width: 900px;
}

.admin_dataRow{
    font-size: 15px;
    cursor: pointer;
}

.admin_imageStylings{
    width: 50px;
    height: 50px;
}

.admin_actionStylings{
    flex-direction: column;
    cursor: auto;
}

.admin_actionContainerDiv {
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }

.iconContainer{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

  .admin_userNameContainer{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .admin_truncatedText {
    display: inline-block; /* Required for applying the text truncation */
    max-width: 150px; /* Set the maximum width for the cell content */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide the overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis (...) at the end of the truncated text */
  }

  .admin_deactivatedRow {
    background-color: #f8d7da; /* Light red background for deactivated rows */
  }