.ui.sidebar {
  background-color: #063361 !important;
  width: 15% !important;
}

.ui.menu .item {
  margin: 20px 0 !important;
}

.ui.menu .item.home {
  margin-top: 10vh !important;
}
.ui.menu .item.settings {
  margin-top: 10vh !important;
}


.ui.icon {
  color: #ffffff !important;
}
.ui.icon:hover {
  color: #ffffff !important;
}

.ui.menu .item {
  color: #ffffff !important;
}


.ui.menu .item:hover {
  background-color: #0f4c81 !important;
  color: #ffffff !important;
}

.ui.menu .active.item {
  background-color: #0f4c81 !important;
}