.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34495e;
    color: white;
    padding: 10px 30px;
    height: 60px;
  }
  
  .header-title {
    font-size: 20px;
  }
  
  .header-greeting {
    margin-right: 20px;
  }
  
  .header-toggle input {
    transform: scale(1.5);
  }
  