.crew-search-bar-container {
  position: fixed;
  top: 80px; /* Align to the top */
  right: 0; /* Align to the right */
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  /* z-index: 1000; */
  height: 80px;
}

  .ui.input {
    width: 100%;
    max-width: 400px;
  }

  .ui.input input {
    border-radius: 4px;
  }