.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    /* padding: 40px; */
    /* width: 70%; */
    /* max-height: 100%; */
    margin-left: 40px;
    justify-content: right;
    align-items: normal;
}
  
.mainContent{
    /* display: grid; */
    max-width: 80%;
    height: 100%;
    /* max-height: 100%; */
    flex: 1;
    /*background-color: #f4f4f4; /* Optional: Background color */
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */

    /* align-items:flex-end;
    justify-content: flex-end; */
}

.mainContainer{
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}