/*
use admin_ as a prefix for the custom class names
*/

.admin_dashboard{
    width: 85%;
    justify-content: right;
    align-items:flex-end;
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 0;
    overflow:hidden;
}