.card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
    width: 300px;
    border: rgb(155, 149, 149) 1px solid;
  }

  .card:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-content {
    margin-bottom: 10px;
  }
  
  .card-button {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100px;
    height: 50px;
    border-radius: 10px;
  }

  .card-button:hover {
    background-color: #34495e;
  }
  