.donate .donatebutton {
    background-color: lightblue !important;
    color: white;
    font-size: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.donate .donatebutton:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.request-modal .header {
    font-size: 24px;
    font-weight: bold;
}

.animated-input {
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.request-modal .content {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.request-modal .actions .button {
    transition: background-color 0.3s ease;
}

.request-modal .actions .button:hover {
    background-color: #21ba45;
    color: white;
}
